/*
0-600px        Phone
600-900px      Tablet portrait
900-1200px     Tablet landscape
[1200-1800px]  where all the default styles are applied
1800+          Big desktops

$breakPoint argument choices:
phone
tab-port
tab-land
big-desktop

ORDER to apply the media queires: Bese + typography > gerneral layout + grid > page layoutr > components

1em =16px
rem not behave as intended in many browsers, em is the mostly used unit for the media queries
*/
@keyframes moveINleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveINright {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveINup {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0px; } }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Lato', sans-serif;
  color: #777;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .heading-primary--main {
    font-size: 6.4rem;
    font-weight: 400;
    display: block;
    letter-spacing: 2rem;
    animation-name: moveINleft;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    /* animation-delay: 1s; */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    font-size: 2.4rem;
    font-weight: 700;
    display: block;
    letter-spacing: 1.05rem;
    animation: moveINright 0.7s ease-out;
    text-align: left;
    margin-left: 0.3rem; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 2rem;
        letter-spacing: 0.5rem; } }

.heading-secondary {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem;
      letter-spacing: 0.1rem; } }
  .heading-secondary:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    box-shadow: -0.5rem 0.2rem 1rem rgba(119, 119, 119, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-align-center {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.bg-video {
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.3); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 65%, transparent 65%), url(../img/nat-10.jpg); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/nat-10.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 10rem;
  transition: transform 0.3s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  outline: none; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.6) scaleY(1.4);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white:link, .btn--white:visited {
  background-color: #fff;
  color: #777; }

.btn--white::after {
  background-color: #fff; }

.btn--green, .btn--green:link, .btn--green:visited {
  background-color: #55c57a;
  color: #fff; }

.btn--green::after {
  background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.3s; }

.btn--animated {
  animation: moveINup 0.5s ease-out 0.5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color: #55c57a;
  padding: 3px;
  border-bottom: 1px solid #55c57a;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(119, 119, 119, 0.5); }

.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 20 5px 10px rgba(119, 119, 119, 0.3); }

.card {
  font-size: 2.4rem;
  position: relative;
  height: 51rem;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__side {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transition: all 0.8s ease-out;
    height: 51rem;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.3); }
    .card__side--front {
      color: #777;
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      color: #fff; }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 700;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 70%;
    color: #fff; }
  .card__heading--span {
    padding: 0.5rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading--span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading--span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading--span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details ul {
    font-size: 1.6rem;
    list-style-type: none;
    margin: 1rem auto 0 auto;
    width: 80%; }
    .card__details ul li {
      text-align: center;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    text-align: center;
    margin-bottom: 5rem; }
  .card__price-only {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400; }
  .card__price-value {
    font-size: 6.4rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.3); }
      .card__side {
        height: auto;
        width: 100%;
        position: relative;
        overflow: hidden;
        top: 0;
        left: 0;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0deg);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card:hover .card__side--back {
        transform: rotateY(0deg); }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 5rem 10rem rgba(119, 119, 119, 0.5);
    z-index: 1;
    transition: all 0.2s;
    outline-offset: 20px;
    position: absolute; }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 33.33333%;
        position: absolute;
        float: left;
        box-shadow: 0 5rem 10rem rgba(119, 119, 119, 0.3); } }
    .composition__photo--P1 {
      top: -2rem;
      left: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--P1 {
          top: 1rem;
          left: 0px;
          transform: scale(1.1); } }
    .composition__photo--P2 {
      top: 2rem;
      right: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--P2 {
          top: 0.5rem;
          transform: scale(1.1); } }
    .composition__photo--P3 {
      top: 10rem;
      left: 20%; }
      @media (max-width: 56.25em) {
        .composition__photo--P3 {
          left: 33.333%;
          top: -0.5rem;
          transform: scale(1.3); } }
    .composition__photo:hover {
      box-shadow: 0 10px 20px rgba(119, 119, 119, 0.5);
      transform: scale(1.1) translateY(-0.5rem);
      z-index: 2;
      outline: 20px solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 5px 10px rgba(119, 119, 119, 0.3);
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6.4rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05);
    box-shadow: 0 10px 20px rgba(119, 119, 119, 0.3); }

.form__group {
  font-size: inherit;
  color: inherit; }

.form__input {
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border: none;
  width: 90%;
  border-bottom: 3px solid transparent;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input::-webkit-input-placeholder {
    color: #999999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.3); }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input:focus:valid {
    border-bottom: 3px solid #28b485; }

.form__label {
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem 2rem;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none;
  cursor: pointer; }

.form__radio-label {
  font-size: 1.6rem;
  position: relative;
  transform: translateX(3rem);
  padding-left: 4rem;
  color: inherit;
  cursor: pointer; }

.form__radio-button {
  width: 3rem;
  height: 3rem;
  border: 3px solid #55c57a;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
  cursor: pointer;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    background-color: #55c57a;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    transition: all 0.3s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.8);
  z-index: 2000;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden; }
  .popup__content {
    width: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #fff;
    z-index: 2001;
    border-radius: 3px;
    display: flexbox;
    overflow: hidden;
    opacity: 0;
    font-size: 1.6rem;
    transition: all 0.3s 0.2s ease-in; }
    .popup__content::after {
      content: "";
      display: block;
      clear: both; }
  .popup__left {
    width: 33.3333%;
    float: left; }
    @media (max-width: 56.25em) {
      .popup__left {
        float: none;
        width: 100%; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup__img {
        display: inline-block;
        float: left;
        width: 50%;
        height: 75px; } }
  .popup__right {
    width: 66.6667%;
    float: right;
    padding: 5rem 2rem; }
    @media (max-width: 56.25em) {
      .popup__right {
        width: 100%;
        float: none;
        font-size: 1.5rem;
        line-height: 1.3;
        padding: 3rem 1rem 1rem 1rem; } }
  .popup__text {
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #7ed56f;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #7ed56f;
    -moz-hyphens: auto;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup__text {
        -moz-column-count: 2;
        -moz-column-gap: 2rem;
        -moz-column-rule: 1px solid #7ed56f;
        column-count: 2;
        column-gap: 2rem;
        column-rule: 1px solid #7ed56f; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .popup__close:link, .popup__close:visited {
    text-decoration: none;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    transition: all 0.3s; }
    @media (max-width: 56.25em) {
      .popup__close:link, .popup__close:visited {
        top: 1rem;
        right: 1rem;
        line-height: 1; } }
  .popup__close:hover, .popup__close:active {
    color: #55c57a; }

.story {
  margin: 0 auto;
  width: 75%;
  font-size: 1.6rem;
  background-color: #fff, 0.5;
  padding: 6rem;
  padding-left: 9rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.3);
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 3rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0deg); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0deg); } }
    .story__shape__img {
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1.4);
      transition: all 0.5s; }
    .story__shape__caption {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, 20%);
      opacity: 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.7rem;
      color: #fff;
      transition: all 0.5s; }
  .story__text {
    text-align: left;
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0deg); } }
  .story:hover .story__shape__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__shape__img {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(3px) brightness(80%); }

.footer {
  background-color: #333;
  padding: 15rem;
  font-size: 1.3rem;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 5rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 4rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
    @media (max-width: 56.25em) {
      .footer__logo {
        width: 10rem; } }
  .footer__navigation {
    border-top: 1px solid #777;
    display: inline-block;
    padding-top: 2rem; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style-type: none;
    color: inherit; }
  .footer__list-item {
    display: inline-block; }
    .footer__list-item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    background-color: #333;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    text-decoration: none;
    box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.7);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    display: inline-block;
    padding-top: 2rem;
    width: 95%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none;
        text-align: center; } }

.row {
  max-width: 114em;
  margin: 0 auto;
  color: #777; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: block;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-bottom: 6rem;
          margin-right: 0px; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc( ( 100% - 6rem ) /2); }
  .row .col-1-of-3 {
    width: calc( ( 100% - 2*6rem ) /3); }
  .row .col-1-of-4 {
    width: calc( ( 100% - 3*6rem ) /4); }
  .row .col-2-of-3 {
    width: calc( 2*( ( 100% - 2*6rem ) /3 ) + (6rem)); }
  .row .col-2-of-4 {
    width: calc( 2* (( 100% - 3*6rem ) /4) + (6rem)); }
  .row .col-3-of-4 {
    width: calc( 3* (( 100% - 3*6rem ) /4) + 2*(6rem)); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75vh, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 75vh, 0% 100%); }
  @media (min-width: 2000px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../img/hero.jpg); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 85vh, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0, 100% 85vh, 0% 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    color: #fff;
    /*    to postion relative to the parent element  */
    position: absolute;
    top: 50%;
    left: 50%;
    /*    to self position */
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation {
  position: relative; }
  .navigation__checkbox {
    visibility: hidden;
    display: none; }
  .navigation__label {
    background-color: #fff;
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 1200;
    border-radius: 50%;
    cursor: pointer; }
    @media (max-width: 56.25em) {
      .navigation__label {
        top: 4rem;
        right: 4rem; } }
    @media (max-width: 37.5em) {
      .navigation__label {
        top: 3rem;
        right: 3rem; } }
  .navigation__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    transition: transform 0.6s; }
    @media (max-width: 56.25em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media (max-width: 37.5em) {
      .navigation__background {
        top: 3.5rem;
        right: 3.5rem; } }
  .navigation__nav {
    height: 100vh;
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navigation__list-item {
    text-align: center; }
    .navigation__list-item:not(:last-child) {
      margin-bottom: 2rem; }
    .navigation__list-item span {
      margin-right: 1.5rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    padding: 1rem 5rem;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    font-size: 3rem;
    transition: all 0.3s; }
  .navigation__link:hover, .navigation__link:active {
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100vw; }
  .navigation__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .navigation__icon::before, .navigation__icon::after {
      content: ""; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #555;
      display: inline-block;
      transition: all 0.3s; }
    .navigation__icon::before {
      position: absolute;
      top: -0.8rem;
      left: 0rem; }
    .navigation__icon::after {
      position: absolute;
      top: 0.8rem;
      left: 0rem; }
  .navigation__label:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__label:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked ~ .navigation__label .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__label .navigation__icon::before {
    transform: rotate(135deg);
    top: 0rem; }
  .navigation__checkbox:checked ~ .navigation__label .navigation__icon::after {
    transform: rotate(-135deg);
    top: 0rem; }

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 20rem 0 25rem 0; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 15rem 0 20rem 0; } }

.section-features {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-6deg);
  margin-top: -12rem; }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }
  .section-features > * {
    transform: skewY(6deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 5rem 0; } }

.section-story {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 56.25em) {
    .section-story {
      padding: 10rem 0; } }
  @media (max-width: 37.5em) {
    .section-story {
      padding: 5rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }
