.book{
    background-image: linear-gradient(105deg , rgba($color-white, 0.8) 0%,rgba($color-white, 0.8) 50%, transparent 50%),url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);

    @include responde(tab-land){
        background-image: linear-gradient(105deg , rgba($color-white, 0.8) 0%,rgba($color-white, 0.8) 65%, transparent 65%),url(../img/nat-10.jpg);
    }

    @include responde(tab-port){
        background-image: linear-gradient(105deg , rgba($color-white, 0.8) 0%,rgba($color-white, 0.8) 100%),url(../img/nat-10.jpg);

    }

    &__form{
        width: 50%;
        padding: 6rem;
        
        @include responde(tab-land){
            width: 65%;
        }

        @include responde(tab-port){
            width: 100%;
        }
    }
}